@media only screen and (min-width:200px) and (max-width:575px) {
    .largeImage {
        position: relative;
        height: 500px;
        /* or 600px */
        overflow: hidden;
    }

    .largeImage video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    main {
        margin-top: 7.2rem;
    }

    video {
        top: 0;
    }

    .mblNavBtn {
        display: none;
    }

    .searchArea input {
        padding: 3px;
    }

    nav ul {
        padding-bottom: 0px !important;
    }

    section {
        padding: 12px;
    }

    .fa-magnifying-glass {
        font-size: 1rem;
    }




    .container {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .hideItemText {
        display: none;
    }

    .itemsDiv p {
        margin: 0px;
        font-size: 12px;
        padding: 2px 25px;
    }

    h2 {
        font-size: 1.2rem;
        margin: 0px;
    }

    #flashSale {
        padding: 10px;
    }

    .productItems {
        margin-bottom: 32px;
    }

    #flashSale {
        margin-top: 3rem;
    }


    #forYou {
        border-radius: 12px 0px 0px 12px;
    }

    .addToCard {
        width: 80%;
        padding: 4px 0px;
        font-size: 14px;
    }

    footer {
        margin-top: 0px;
    }

}



@media only screen and (min-width:575px) and (max-width:768px) {

    .productItems {
        margin-bottom: 25px;
    }
}