:root {
    --primaryColor: #f85606;
    --buttonBg: #ffe1d2;
    --backgrondColor: #f4f6fb;
    --light: rgb(255, 255, 255);
    --itemsBg: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--backgrondColor);
    font-family: arial, sans-serif;
}

h2 {
    font-weight: 700;
    color: var(--primaryColor);
}

h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}

section {
    background: var(--light);
    margin-top: 5rem !important;
    padding: 2rem;
    border-radius: 1rem;
    padding-bottom: 0px;

}

section {
    scroll-margin-top: 90px;
}


header {
    background: var(--primaryColor);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin: 0px;
    padding: 10px 0px 20px 0px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}

.logo {
    width: 10rem;
    height: auto;
    background-image: url("logo.png");
    background-size: cover;
}

.searchArea {
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--buttonBg);
    width: 100%;
}

.searchArea input {
    width: 93%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 3px 0px 0px 3px;
}

.fa-magnifying-glass {
    font-size: 1.3rem;
    color: var(--primaryColor);
}

/* --------header end ---------- */
/* main start */

main {
    margin-top: 40rem;

}

.largeImage {
    max-width: 100%;
    height: auto;
    height: auto;

    background-size: cover;
}

.addsImage {
    width: 100%;
}

/* //////flash sell section  */
#flashSale {
    margin-top: 5rem;
}

.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.topic p {
    margin: 0px;
}

.topic button {
    border: 1px solid var(--primaryColor);
    border-radius: 3px;
    background-color: var(--light);
    padding: 10px 20px;
    color: var(--primaryColor);
}

.productItems {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--itemsBg);
    border-radius: 18px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    transition: 0.3s ease;
    border-bottom: 5px solid navy;
}

.productItems:hover {
    box-shadow: 0px 2px 4px rgba(227, 89, 3, 0.9);
    transform: scale(1.08) translateY(-5px);

}

.itemImg {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: none;
    transition: 0.3s ease;
}

.itemImg:hover {
    transform: scale(1.08) translateY(-5px);
}

.itemsDiv {
    text-align: center;
    padding-bottom: 15px;

}

.itemsDiv p {
    margin: 0px;
    margin-top: 10px;
    text-align: left;
    padding: 10px 25px;
}

.addToCard {
    width: 90%;
    color: var(--light);
    background: var(--primaryColor);
    border: none;
    border-radius: 5px;
    padding: 8px;

}

.addToCard:hover {
    background: #db4a02;
    transition-duration: 0.3s;
}



/* Categories */





video {
    object-fit: cover;
    object-position: 50% 60%;
    width: 100%;
    height: 65%;
    position: absolute;
    left: 0px;
    top: 85px;
}



/* ////  */
.roleMenu {
    position: relative;
    display: inline-block;
}

.dotBtn {
    font-size: 24px;
    cursor: pointer;
    list-style: none;
}

/* hide default arrow */
summary::-webkit-details-marker {
    display: none;
}

.dropdown {
    position: absolute;
    right: 0;
    left: 0;
    top: 35px;
    background: white;
    width: 140px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.dropdown a:hover {
    background: #f2f2f2;
}



/* ----------footer  start ------ */


/* footer start  */
footer {
    background: #02023c;
    color: white;
    padding: 10px;
    margin-top: 5rem;
}

.backToTop a {
    text-decoration: none;
}

footer ul li {
    list-style: none;
}

footer ul {
    padding-left: 1rem;
    margin-top: 20px;
}